{% extends "base.html" %}
{% load crispy_forms_tags%}

{% block title %}
  <title>login</title>
{% endblock title %}

{% block content %}
    <div class= "container">
    </br>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              {{ message}}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
            <h2> SIGN_IN HERE</h2>
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <div class=" row mb-3 col-6">
          <label for="username">Username</label>
          <input type="text"  name="username" required  >
          <label for="Password">Password</label>
          <input type="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">LOGIN</button>
      </form>
    </br>
        
        
    </div>
{% endblock content %}